footer
    .bigfoot
        background-color: rgba(13,11,9,255)
        border-top: solid 2px $colprim
        border-bottom: solid 2px $colprim
        i
            background-color: rgba(39,37,31,255)
            padding: 4%
            border-radius: 50%
        i:hover
            background-color: $colprim 
    .newsletter
        width: 100%
        position: relative
        input
            width:100%
            background-color: rgba(39,37,31,255)
            border: solid 1px rgba(86,80,66,255)
            color: rgba(158,150,133,255)
        input:focus
            border: solid 1px $colprim
            outline: transparent
        button
            height: 100%
            position: absolute
            right: 0
            background-color: $colprim
            border: none
        button:hover
            background-color: rgb(217, 183, 123)
    ul
        list-style: url(../img/chevron.svg)
        line-height: 250%
        li:hover
            color: $colprim
    .littlefoot
        background-color: black