.sec7
    background-color: rgba(11,11,9,255)
    span
        color: $colprim
    .filter
        width: 100%
        height: 100%
        top: 0
        color: transparent
    .info
        height: 100%
        width: 100%
        i
            font-size: 150%
        i:hover
            color: $colprim
    .col:hover .filter
        background-image: linear-gradient(to top, black,transparent)
        color: white
        transition: all 1.5s